@media screen and (max-width:1000px){
    header{
        background-position: center;
    }
    .A {
        top: 16%;
        left: 7%;
    }
    .J {
        left: 24.5%;
        top: 13%;
    }

    .L {
        left: 33%;
        top: 13%;
    }

    .B {
        left: 45%;
        top: 13%;
    }

    .svg {
        height: 100%; 
        width: 100%;
    }
    .wave{
        width: 100%;
        height: 50%;
        bottom: 14%;
    }
    .sobre-nosotros .contenido-textos{
        width: 90%;
    }
    .contenido-textos p{
        font-weight:normal;
        font-size: 15px;
        text-align: justify;
    }
    .imagen-about-us{
        width: 90%;
    }

    /* Galeria */

    .imagen-port{
        width: 44%;
    }

    /* Clientes */

    .cards{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cards .card{
        width: 90%;
    }

    .cards .card:first-child{
        margin-bottom: 30px;
    }

    /* servicios */

    .servicio-cont{
        justify-content: center;
        flex-direction: column;
    }

    .servicio-ind{
        width: 100%;
        text-align: center;
    }

    .servicio-ind:nth-child(1), .servicio-ind:nth-child(2){
        margin-bottom: 60px;
    }

    .servicio-ind img{
        width: 90%;
    }
    
    .contenedor-footer{
        flex-direction: column;
    }

    .content-foo{
        text-align: center;
        
    }
    .content-foo img{
        max-width: 100%;
    }
    .content-foo h4{
        border-bottom: 3px  solid #20d3c4;
    }

    .content-foo p{
        color: rgb(17, 14, 14);
        border-bottom: 1px solid #f2f2f2;
    }
    
    .burbuja:nth-child(1){
        width: 80px;
        height: 80px;
        left: 5%;
        animation-duration: 7s;
        animation-delay: 1s;
    }
    
    .burbuja:nth-child(2){
        width: 40px;
        height: 40px;
        left: 18%;
        animation-duration: 6.5s;
        animation-delay: 9s;
    }
    
    .burbuja:nth-child(3){
        width: 40px;
        height: 40px;
        left: 25%;
        animation-duration: 5s;
        animation-delay: 5s;
    }
    .burbuja:nth-child(4){
        width: 80px;
        height: 80px;
        left: 50%;
        animation-duration: 4.5s;
        animation-delay: 7s;
    }
    .burbuja:nth-child(5){
        width: 40px;
        height: 40px;
        left: 67%;
        animation-duration: 7s;
        animation-delay: 6s;
    }
    .burbuja:nth-child(6){
        width: 80px;
        height: 80px;
        left: 60%;
        animation-duration: 8s;
        animation-delay: 8s;
    }
    
    .burbuja:nth-child(7){
        width: 60px;
        height: 60px;
        left: 10%;
        animation-duration: 9s;
        animation-delay: 4s;
    }
    
    .burbuja:nth-child(8){
        width: 20px;
        height: 20px;
        left: 40%;
        animation-duration: 5s;
        animation-delay: 5.5s;
    }
    
    .burbuja:nth-child(9){
        width: 40px;
        height: 40px;
        left: 70%;
        animation-duration: 6.5s;
        animation-delay: 4.3s;
    }
    .burbuja:nth-child(10){
        width: 50px;
        height: 50px;
        left: 55%;
        animation-duration: 10s;
        animation-delay: 2s;
    }
}

@media screen and (max-width:942px){
    header{
        background-position: center;
    }

    #foto2{
        height: 30px;
        width: 110px;
    }
    .A {
        height: 170px;
        top: 15.5%;
        left: 5%;
    }
    #A1 {
        height: 170px;
        width: 35px;
    }
    #A1::before {
        height: 170px;
        width: 35px;
    }
    #A2 {
        height: 25px;
        top: 47%;
    }
    .A::after {
        top: 80%;
    }

    .J {
        left: 24%;
        height: 170px;
        top: 13%;
    }
    .J span{
        height: 30px;
    }

    .L {
        height: 170px;
        left: 33.5%;
        top: 13%;
    }
    
    .B {
        height: 170px;
        left: 46.5%;
        top: 13%;
    }
    #B2 {
        height: 30px;
    }
    #B2::before {
        height: 39px;
    }
    #B2::after {
        height: 39px;
    }
    #B1 {
        height: 30px;
    }
    #B1::before {
        height: 37px;
    }
    #B1::after {
        height: 37px;
    }
    #B3 {
        height: 30px;
    }
    
    .svg {
        height: 100%; 
        width: 100%;
    }
    .wave{
        width: 100%;
        height: 50%;
        position: relative;
        bottom: 14%;
    }
    .contenido-textos p{
        padding: 0px 0px 30px 15px;
        font-weight:normal;
        font-size: 14px;
        text-align: justify;
    }

    .contenedor-sobre-nosotros{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sobre-nosotros .contenido-textos{
        width: 90%;
    }

    .imagen-about-us{
        width: 90%;
    }

    /* Galeria */

    .imagen-port{
        width: 44%;
    }

    /* Clientes */

    .cards{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cards .card{
        width: 90%;
    }

    .cards .card:first-child{
        margin-bottom: 30px;
    }

    /* servicios */

    .servicio-cont{
        justify-content: center;
        flex-direction: column;
    }

    .servicio-ind{
        width: 100%;
        text-align: center;
    }

    .servicio-ind:nth-child(1), .servicio-ind:nth-child(2){
        margin-bottom: 60px;
    }

    .servicio-ind img{
        width: 90%;
    }
    
    .contenedor-footer{
        flex-direction: column;
    }

    .content-foo{
        text-align: center;
        
    }
    .content-foo img{
        max-width: 100%;
    }
    .content-foo h4{
        border-bottom: 3px  solid #20d3c4;
    }
    .content-foo p{
        color: rgb(17, 14, 14);
        border-bottom: 1px solid #f2f2f2;
    }
    li a, .dropbtn {
        font-size: 20px;
    }
    .switch{
        height: 25px;
    }
    .switch::after{
        height: 25px;
        width: 25px;
    }
    .switch span {
        width: 25px;
        height: 10px;
    }
    .burbuja:nth-child(1){
        width: 80px;
        height: 80px;
        left: 5%;
        animation-duration: 7s;
        animation-delay: 1s;
    }
    
    .burbuja:nth-child(2){
        width: 40px;
        height: 40px;
        left: 18%;
        animation-duration: 6.5s;
        animation-delay: 9s;
    }
    
    .burbuja:nth-child(3){
        width: 40px;
        height: 40px;
        left: 25%;
        animation-duration: 5s;
        animation-delay: 5s;
    }
    .burbuja:nth-child(4){
        width: 80px;
        height: 80px;
        left: 50%;
        animation-duration: 4.5s;
        animation-delay: 7s;
    }
    .burbuja:nth-child(5){
        width: 40px;
        height: 40px;
        left: 60%;
        animation-duration: 7s;
        animation-delay: 6s;
    }
    .burbuja:nth-child(6){
        width: 80px;
        height: 80px;
        left: 50%;
        animation-duration: 8s;
        animation-delay: 8s;
    }
    
    .burbuja:nth-child(7){
        width: 60px;
        height: 60px;
        left: 10%;
        animation-duration: 9s;
        animation-delay: 4s;
    }
    
    .burbuja:nth-child(8){
        width: 20px;
        height: 20px;
        left: 40%;
        animation-duration: 5s;
        animation-delay: 5.5s;
    }
    
    .burbuja:nth-child(9){
        width: 40px;
        height: 40px;
        left: 30%;
        animation-duration: 6.5s;
        animation-delay: 4.3s;
    }
    .burbuja:nth-child(10){
        width: 50px;
        height: 50px;
        left: 55%;
        animation-duration: 10s;
        animation-delay: 2s;
    }
}

@media screen and (max-width:788px){
    header{
        background-position: center;
    }
    .burbujas{
        position: absolute;
        bottom: -495%;
        width: 100%;
    }
    .burbuja:nth-child(1){
        width: 80px;
        height: 80px;
        left: 5%;
        animation-duration: 7s;
        animation-delay: 1s;
    }
    
    .burbuja:nth-child(2){
        width: 40px;
        height: 40px;
        left: 18%;
        animation-duration: 6.5s;
        animation-delay: 9s;
    }
    
    .burbuja:nth-child(3){
        width: 40px;
        height: 40px;
        left: 25%;
        animation-duration: 5s;
        animation-delay: 5s;
    }
    .burbuja:nth-child(4){
        width: 80px;
        height: 80px;
        left: 50%;
        animation-duration: 4.5s;
        animation-delay: 7s;
    }
    .burbuja:nth-child(5){
        width: 40px;
        height: 40px;
        left: 67%;
        animation-duration: 7s;
        animation-delay: 6s;
    }
    .burbuja:nth-child(6){
        width: 80px;
        height: 80px;
        left: 60%;
        animation-duration: 8s;
        animation-delay: 8s;
    }
    
    .burbuja:nth-child(7){
        width: 60px;
        height: 60px;
        left: 10%;
        animation-duration: 9s;
        animation-delay: 4s;
    }
    
    .burbuja:nth-child(8){
        width: 20px;
        height: 20px;
        left: 40%;
        animation-duration: 5s;
        animation-delay: 5.5s;
    }
    
    .burbuja:nth-child(9){
        width: 40px;
        height: 40px;
        left: 70%;
        animation-duration: 6.5s;
        animation-delay: 4.3s;
    }
    .burbuja:nth-child(10){
        width: 50px;
        height: 50px;
        left: 55%;
        animation-duration: 10s;
        animation-delay: 2s;
    }
    .contenedor1sobre-nosotros{
        height: 970px;
    }
    .contenedor-sobre-nosotros{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contenedor1-sobre-nosotros{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .centrado {
        display: block;
    }
    .svg {
        height: 100%; 
        width: 100%;
    }
    .wave{
        width: 100%;
        height: 50%;
        position: relative;
        bottom: 14%;
    }
    /* ABOUT US */

    .imagen-about-us{
        margin-bottom: 60px;
        width: 99%;
    }

    .sobre-nosotros .contenido-textos{
        width: 95%;
    }

    /* Galeria */

    .imagen-port{
        width: 95%;
    }

    /* Clients */

    .cards .card{
        height: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cards .card img{
        width: 90px;
        height: 90px;
    }

    /* Footer */

    .contenedor-footer{
        flex-direction: column;
    }

    .content-foo{
        margin-bottom: 20px;
        text-align: center;
    }
    .content-foo img{
        max-width: 100%;
    }
    .content-foo h4{
        border-bottom: 3px solid #20d3c4;
        margin-bottom: 10px;
    }

    .content-foo p{
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 20px;
    }

    .titulo-final{
        
        font-size: 20px;
    }
    .contenido-textos p{
        padding: 0px 0px 30px 15px;
        font-weight:normal;
        font-size: 12px;
        text-align: justify;
    }
}

@media screen and (max-width:690px){
    header{
        background-position: center;
    }
    #git{
        bottom: 25%;
        width:35px;
        left: 1%;
    }
    #face{
        left: 1%;
        bottom: 15%;
        width:35px;
        left: 1%;
    }
    #what{
        bottom: 5%;
        width:35px;
        left: 1%;
    }
    .contenedor-sobre-nosotros img{
        width: 340px;
    }
    .centrado {
        display:inline-block;
    }
    .negro {
        list-style-type: none;
        margin: 0;
        padding: 0;
        top: 5%;
        left: 88%;
    }
    #foto2{
        height: 20px;
        width: 60px;
    }
    li a, .dropbtn {
        font-size: 20px;
        padding: 5px 5px;
        text-decoration: none;
    }
    #foto1{
        top: 15%;
        left: 27%;
        height: 150px;
        width: 159px;
    }
    
    .svg {
        height: 100%; 
        width: 100%;
    }
    .wave{
        width: 100%;
        height: 40%;
        position: relative;
        bottom: 10%;
    }
    .burbuja:nth-child(1){
        width: 80px;
        height: 80px;
        left: 5%;
        animation-duration: 7s;
        animation-delay: 1s;
    }
    
    .burbuja:nth-child(2){
        width: 40px;
        height: 40px;
        left: 18%;
        animation-duration: 6.5s;
        animation-delay: 9s;
    }
    
    .burbuja:nth-child(3){
        width: 40px;
        height: 40px;
        left: 25%;
        animation-duration: 5s;
        animation-delay: 5s;
    }
    .burbuja:nth-child(4){
        width: 80px;
        height: 80px;
        left: 50%;
        animation-duration: 4.5s;
        animation-delay: 7s;
    }
    .burbuja:nth-child(5){
        width: 40px;
        height: 40px;
        left: 65%;
        animation-duration: 7s;
        animation-delay: 6s;
    }
    .burbuja:nth-child(6){
        width: 80px;
        height: 80px;
        left: 60%;
        animation-duration: 8s;
        animation-delay: 8s;
    }
    
    .burbuja:nth-child(7){
        width: 60px;
        height: 60px;
        left: 10%;
        animation-duration: 9s;
        animation-delay: 4s;
    }
    
    .burbuja:nth-child(8){
        width: 20px;
        height: 20px;
        left: 40%;
        animation-duration: 5s;
        animation-delay: 5.5s;
    }
    
    .burbuja:nth-child(9){
        width: 40px;
        height: 40px;
        left: 70%;
        animation-duration: 6.5s;
        animation-delay: 4.3s;
    }
    .burbuja:nth-child(10){
        width: 50px;
        height: 50px;
        left: 55%;
        animation-duration: 10s;
        animation-delay: 2s;
    }
}
@media screen and (max-width:500px){
    header{
        background-position: center;
    }
    .A {
        height: 120px;
        top: 18%;
        left: 15%;
    }
    #A1 {
        height: 120px;
        width: 25px;
    }
    #A1::before {
        height: 120px;
        width: 25px;
        left: 40px;
        animation-name: moveA1b;
    }
    
    @keyframes moveA1b {
        0%   {background-color:red; left:0px; top:0%;height: 10px;width: 40px;transform:skew(0deg);}
        25%  {background-color:yellow; left:100px; top:0%;height: 40px;width: 40px;transform:skew(10deg);}
        50%  {background-color:blue; left:50px; top:0%;height: 100px;width: 40px;transform:skew(20deg);}
        100% {background-color:#b1060f; left: 40px;top:0%;height: 120px;width: 25px;transform:skew(30deg);}
    }
    #A2 {
        left: 10px;
        height: 20px;
        top: 45%;
        animation-name: moveA2;
    }
    @keyframes moveA2 {
        0%   {background-color:red; left:0px; top:0px;}
        25%  {background-color:yellow; left:100px; top:0px;}
        50%  {background-color:blue; left:100px; top:100px;}
        100% {background-color:#e50913; left:10px; top:45%;}
    }
    .A::after {
        top: 80%;
        width: 400px;
    }

    .J {
        left: 40%;
        width: 25px;
        height: 120px;
        top: 16.4%;
        animation-name: moveJ1;
    }
    @keyframes moveJ1 {
        0%   {background-color:red; left:10%; top:10%;height: 20px;width: 5px;}
        25%  {background-color:yellow; left:15%; top:10%;height: 50px;width: 15px;}
        50%  {background-color:blue; left:20%; top:10%;height: 50px;width: 25px;}
        100% {background-color:#b1060f; left:40%;top:16.4%;height: 120px;width: 25px;}
    }
    .J::before {
        left: -35px;
    }
    .J span{
        height: 25px;
        left: -40px;
        width: 90px;
        animation-name: moveJS;
    }
    
    @keyframes moveJS {
        0%   {background-color:red; left:50%; top:10%;height: 10px;width: 35px;}
        25%  {background-color:yellow; left:30%; top:10%;height: 15px;width: 35px;}
        50%  {background-color:blue; left:30%; top:5%;height: 20px;width: 35px;}
        100% {background-color:#e50913; left:-40px;top:0%;height: 25px;width: 90px;}
    }
    .L {
        height: 120px;
        left: 52%;
        width: 25px;
        top: 16.4%;
        animation-name: moveL1;
    }
    @keyframes moveL1 {
        0%   {background-color:red; left:50%; top:10%;height: 10px;width: 100px;}
        25%  {background-color:yellow; left:45%; top:15%;height: 35px;width: 70px;}
        50%  {background-color:blue; left:40%; top:17%;height: 100px;width: 50px;}
        100% {background-color:#b1060f; left:52%;top:16.4%;height: 120px;width: 25px;}
    }
    .L span{
        height: 25px;
        width: 76px;
    }
    .B {
        height: 120px;
        left: 70%;
        width: 25px;
        top: 16.4%;
        animation-name: moveB;
    }
    @keyframes moveB {
        0%   {background-color:red; left:60%; top:10%;height: 10px;width: 10px;}
        25%  {background-color:yellow; left:55%; top:15%;height: 15px;width: 15px;}
        50%  {background-color:blue; left:48%; top:20%;height: 80px;width: 20px;}
        100% {background-color:#b1060f; left:70%;top: 16.4%;height: 120px;width: 25px;}
    }
    #B2 {
        height: 25px;
        width: 55px;
    }
    #B2::before {
        height: 23px;
        left: 24px;
        width: 15px;
    }
    #B2::after {
        height: 23px;
        left: 24px;
        width: 28px;
    }
    #B1 {
        height: 25px;
        width: 55px;
    }
    #B1::before {
        height: 22px;
        width: 15px;
        left: 24px;
    }
    #B1::after {
        height: 23px;
        left: 24px;
        width: 25px;
    }
    #B3 {
        width: 55px;
        height: 25px;
    }
    #B4{
        height: 60px;
        width: 50px;
        left: 30px;
    }
    #B5{
        height:62px;
        width: 50px;
        left: 30px;
    }
    
    .burbujas{
        position: absolute;
        bottom: -365%;
        width: 100%;
    }
    .burbuja:nth-child(1){
        width: 80px;
        height: 80px;
        left: 5%;
        animation-duration: 7s;
        animation-delay: 1s;
    }
    
    .burbuja:nth-child(2){
        width: 40px;
        height: 40px;
        left: 18%;
        animation-duration: 6.5s;
        animation-delay: 9s;
    }
    
    .burbuja:nth-child(3){
        width: 40px;
        height: 40px;
        left: 25%;
        animation-duration: 5s;
        animation-delay: 5s;
    }
    .burbuja:nth-child(4){
        width: 80px;
        height: 80px;
        left: 50%;
        animation-duration: 4.5s;
        animation-delay: 7s;
    }
    .burbuja:nth-child(5){
        width: 40px;
        height: 40px;
        left: 40%;
        animation-duration: 7s;
        animation-delay: 6s;
    }
    .burbuja:nth-child(6){
        width: 80px;
        height: 80px;
        left: 60%;
        animation-duration: 8s;
        animation-delay: 8s;
    }
    
    .burbuja:nth-child(7){
        width: 60px;
        height: 60px;
        left: 10%;
        animation-duration: 9s;
        animation-delay: 4s;
    }
    
    .burbuja:nth-child(8){
        width: 20px;
        height: 20px;
        left: 40%;
        animation-duration: 5s;
        animation-delay: 5.5s;
    }
    
    .burbuja:nth-child(9){
        width: 40px;
        height: 40px;
        left: 30%;
        animation-duration: 6.5s;
        animation-delay: 4.3s;
    }
    .burbuja:nth-child(10){
        width: 50px;
        height: 50px;
        left: 55%;
        animation-duration: 10s;
        animation-delay: 2s;
    }
    .contenedor1-sobre-nosotros img{
        width: 340px;
    }
    .negro {
        list-style-type: none;
        margin: 0;
        padding: 0;
        top: 5%;
        left: 80%;
    }
    li a, .dropbtn {
        font-size: 15px;
        padding: 10px 5px 7px;
    }
    #foto1{
        top: 44.5%;
        left: 37%;
        height: 140px;
        width: 140px;
    }
    .contenido-textos p{
        font-size: 16px;
    }
    .svg {
        height: 100%; 
        width: 100%;
    }
    .wave{
        width: 100%;
        height: 40%;
        position: relative;
        bottom: 10%;
    }

    .switch {
        background: orange;
        border-radius: 1000px;
        border: none;
        position: relative;
        cursor: pointer;
        display: flex;
        outline: none;
        height: 20px;
    }
    .switch::after{
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        position: absolute;
        background: #f1f1f1;
        top: 0;
        left: unset;
        right: 0;
        border-radius: 100px;
        transition: .3 ease all;
        box-shadow: 0px 0 px 2px 2px rgba(0, 0, 0, .2);
    }
    i{
        font-size: 12px;
    }
    .switch.active{
        background: #343D5B;
        color: #000;
    }
    .switch.active::after{
        right: unset;
        left: 0;
    }
    .switch span{
        width: 20px;
        height: 10px;
        line-height: 22px;
        top: 0%;
        display: block;
        background: none;
        color: #fff;
    }
}

@media screen and (max-width:450px){
    header{
        background-position: center;
    }

    .A {
        height: 120px;
        top: 23%;
        left: 19%;
    }
    #A1 {
        height: 100px;
        width: 17px;
    }
    #A1::before {
        height: 100px;
        width: 17px;
        left: 30px;
        animation-name: moveA1b;
    }
    
    @keyframes moveA1b {
        0%   {background-color:red; left:0px; top:0%;height: 10px;width: 40px;transform:skew(0deg);}
        25%  {background-color:yellow; left:100px; top:0%;height: 40px;width: 40px;transform:skew(10deg);}
        50%  {background-color:blue; left:50px; top:0%;height: 100px;width: 40px;transform:skew(20deg);}
        100% {background-color:#b1060f; left: 30px;top:0%;height: 100px;width: 17px;transform:skew(30deg);}
    }
    #A2 {
        left: 5px;
        height: 15px;
        width: 40px;
        top: 40%;
        animation-name: moveA2;
    }
    @keyframes moveA2 {
        0%   {background-color:red; left:0px; top:0px;}
        25%  {background-color:yellow; left:100px; top:0px;}
        50%  {background-color:blue; left:100px; top:100px;}
        100% {background-color:#e50913; left:10px; top:40%;}
    }
    .A::after {
        top: 60%;
        width: 350px;
        left: -40px;
    }

    .J {
        left: 40%;
        width: 17px;
        height: 100px;
        top: 21.5%;
        animation-name: moveJ1;
    }
    @keyframes moveJ1 {
        0%   {background-color:red; left:10%; top:10%;height: 20px;width: 5px;}
        25%  {background-color:yellow; left:15%; top:10%;height: 50px;width: 15px;}
        50%  {background-color:blue; left:20%; top:10%;height: 50px;width: 25px;}
        100% {background-color:#b1060f; left:40%;top:22%;height: 100px;width: 17px;}
    }
    .J::before {
        left: -25px;
        height: 20px;
        width: 30px;
        top:70%;
    }
    .J span{
        height: 17px;
        left: -30px;
        width: 70px;
        animation-name: moveJS;
    }
    
    @keyframes moveJS {
        0%   {background-color:red; left:50%; top:10%;height: 10px;width: 35px;}
        25%  {background-color:yellow; left:30%; top:10%;height: 15px;width: 35px;}
        50%  {background-color:blue; left:30%; top:5%;height: 20px;width: 35px;}
        100% {background-color:#e50913; left:-30px;top:0%;height: 25px;width: 90px;}
    }
    .L {
        height: 100px;
        left:52%;
        width: 17px;
        top: 21.5%;
        animation-name: moveL1;
    }
    @keyframes moveL1 {
        0%   {background-color:red; left:50%; top:10%;height: 10px;width: 100px;}
        25%  {background-color:yellow; left:45%; top:15%;height: 35px;width: 70px;}
        50%  {background-color:blue; left:40%; top:17%;height: 100px;width: 50px;}
        100% {background-color:#b1060f; left:52%;top:21.5%;height: 100px;width: 17px;}
    }
    .L span{
        height: 17px;
        width: 60px;
        top: 70%;
    }
    .B {
        height: 100px;
        left: 69%;
        width: 17px;
        top: 21.5%;
        animation-name: moveB;
    }
    @keyframes moveB {
        0%   {background-color:red; left:60%; top:10%;height: 10px;width: 10px;}
        25%  {background-color:yellow; left:55%; top:15%;height: 15px;width: 15px;}
        50%  {background-color:blue; left:48%; top:20%;height: 80px;width: 20px;}
        100% {background-color:#b1060f; left:69%;top: 21.5%;height: 100px;width: 17px;}
    }
    #B2 {
        height: 17px;
        width: 40px;
        top: 35%;
    }
    #B2::before {
        height: 15px;
        left: 20px;
        width: 14px;
    }
    #B2::after {
        height: 19px;
        left: 18px;
        width: 23px;
    }
    #B1 {
        height: 17px;
        width: 40px;
    }
    #B1::before {
        height: 15px;
        width: 14px;
        left: 18px;
    }
    #B1::after {
        height: 18.5px;
        left: 18px;
        width: 23px;
    }
    #B3 {
        width: 40px;
        height: 25px;
        top: 71%;
    }
    #B4{
        height: 50px;
        width: 30px;
        left: 27px;
    }
    #B5{
        height:50px;
        width: 30px;
        left: 27px;
    }
    
    .burbujas{
        position: absolute;
        bottom: -365%;
        width: 100%;
    }
    .burbuja:nth-child(1){
        width: 80px;
        height: 80px;
        left: 5%;
        animation-duration: 7s;
        animation-delay: 1s;
    }
    
    .burbuja:nth-child(2){
        width: 40px;
        height: 40px;
        left: 18%;
        animation-duration: 6.5s;
        animation-delay: 9s;
    }
    
    .burbuja:nth-child(3){
        width: 40px;
        height: 40px;
        left: 25%;
        animation-duration: 5s;
        animation-delay: 5s;
    }
    .burbuja:nth-child(4){
        width: 80px;
        height: 80px;
        left: 50%;
        animation-duration: 4.5s;
        animation-delay: 7s;
    }
    .burbuja:nth-child(5){
        width: 40px;
        height: 40px;
        left: 40%;
        animation-duration: 7s;
        animation-delay: 6s;
    }
    .burbuja:nth-child(6){
        width: 80px;
        height: 80px;
        left: 50%;
        animation-duration: 8s;
        animation-delay: 8s;
    }
    
    .burbuja:nth-child(7){
        width: 60px;
        height: 60px;
        left: 10%;
        animation-duration: 9s;
        animation-delay: 4s;
    }
    
    .burbuja:nth-child(8){
        width: 20px;
        height: 20px;
        left: 40%;
        animation-duration: 5s;
        animation-delay: 5.5s;
    }
    
    .burbuja:nth-child(9){
        width: 40px;
        height: 40px;
        left: 30%;
        animation-duration: 6.5s;
        animation-delay: 4.3s;
    }
    .burbuja:nth-child(10){
        width: 50px;
        height: 50px;
        left: 40%;
        animation-duration: 10s;
        animation-delay: 2s;
    }
    .contenedor1-sobre-nosotros img{
        width: 340px;
    }
    .negro {
        list-style-type: none;
        margin: 0;
        padding: 0;
        top: 5%;
        left: 80%;
    }
    li a, .dropbtn {
        font-size: 15px;
        padding: 10px 5px 7px;
    }
    #foto1{
        top: 44.5%;
        left: 33%;
        height: 140px;
        width: 140px;
        z-index: 1;
    }
    
}
@media screen and (max-width:379px){
    .A::after {
        width: 315px;
    }
    #foto1{
        left: 33%;
    }
}